<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>		<!-- alias : 대소문자 구별 안 함. -->
		<typeAlias alias="BoardDTO" type="com.fastcampus.ch4.BoardDTO"/>
	</typeAliases>
</configuration>
