<!-- 경로 : src -> main -> webapp -> WEB-INF -> web.xml -->	<!-- Tomcat 개별 설정 -->

	<!-- 한글 변환 필터 시작 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 한글 변환 필터 끝 -->

<!-- ---------------------------------------------------------------------------------------------------------- -->

	<!-- 세션 자동 종료 -->
	<session-config>
		<session-timeout>30</session-timeout>	<!-- 분단위 -->
	</session-config>

<!-- ---------------------------------------------------------------------------------------------------------- -->
	
	<!-- 예외 상태 코드별 error view 지정 예시, 코드별로 계속 view를 추가할 수 있음. -->
	<!-- view 파일 상단에 isErrorPage="true" 작성하면 jsp 특성상 예외 상태 코드가 500으로 강제 설정됨. -->
	<!-- isErrorPage="false" 작성하면 내가 설정한 상태 코드로 설정됨. -->
	<error-page>
		<error-code>400</error-code>		<!-- 예외 상태 코드 작성란 -->
		<location>/error400.jsp</location>	<!-- src/main/webapp/error400.jsp -->
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/error500.jsp</location>	<!-- src/main/webapp/error500.jsp -->
	</error-page>

<!-- ---------------------------------------------------------------------------------------------------------- -->
